{% extends "docs-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('docs-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set plugin = craft.app.plugins.getPlugin('docs-manager') %}
{% set crumbs = [
    {
        label: docsManagerHelper.fullName|t('docs-manager'),
        url: url('docs-manager'),
    },
    {
        label: 'Settings'|t('docs-manager'),
        url: url('docs-manager/settings'),
    },
    {
        label: 'Interface'|t('docs-manager'),
        url: url('docs-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    {{ actionInput('docs-manager/settings/save') }}
    {{ redirectInput('docs-manager/settings/interface') }}
    {{ hiddenInput('section', 'interface') }}

        <h2 class="first">{{ "Interface Settings"|t('docs-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-items-per-page' with {
            settings: settings,
            pluginHandle: 'docs-manager',
        } only %}

        <hr>

        {% include 'lindemannrock-base/_partials/cascade-base-overrides' with {
            settings: settings,
            pluginHandle: 'docs-manager',
            sections: {
                dateFormat: {},
            },
        } only %}

    {% include 'docs-manager/_components/source-credit.twig' %}
{% endblock %}
